# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Python cache
__pycache__/
*.py[cod]

# Environment files
.env
.env.*

# VS Code
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
